@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: rgba(32, 32, 32, 0.513);
}

.container {
  width: 100%;
  height: auto;
}
.container nav {
  width: 100%;
  background-color: #6a6a6a;
  padding: 20px 0px;
  border: 1px solid rgba(0, 0, 0, 0.337254902);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7), 1px 2px 4px 0px rgba(0, 0, 0, 0.7), 2px 4px 8px 0px rgba(0, 0, 0, 0.7);
}
.container nav h2 {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(2px, 7vw + 1rem, 2rem);
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px 6% 20px;
}
.container main .box {
  display: none;
  width: 500px;
  height: 100%;
  border-radius: 12px;
  background-color: #2f2f2f;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.337254902);
}
.container main .box input {
  width: 100%;
  height: 15%;
  border: inset 1px solid rgba(83, 82, 82, 0.0274509804);
  border-radius: 6px;
  outline: none;
  padding: 20px;
  font-size: 20px;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  box-shadow: inset -5px -5px 12px #d9d9d9, inset 5px 5px 12px rgb(90, 90, 90);
  font-family: JetBrains Mono;
  font-size: 42px;
  font-weight: 400;
  line-height: 31.68px;
  text-align: end;
}
.container main .box input::-moz-placeholder {
  font-family: JetBrains Mono;
  font-size: 42px;
  font-weight: 400;
  line-height: 31.68px;
  text-align: end;
  color: rgba(0, 0, 0, 0.4666666667);
}
.container main .box input::placeholder {
  font-family: JetBrains Mono;
  font-size: 42px;
  font-weight: 400;
  line-height: 31.68px;
  text-align: end;
  color: rgba(0, 0, 0, 0.4666666667);
}
.container main .box ul {
  padding: 2%;
  border-radius: 12px;
  border: 5px solid rgba(46, 46, 46, 0.5098039216);
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 20px;
}
.container main .box ul li {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.container main .box ul li button {
  background: linear-gradient(159.64deg, #e5e3dd 13.35%, rgba(235, 234, 234, 0) 86.28%);
  box-shadow: 0px 4px 4px 0px rgba(181, 160, 119, 0.2509803922) ins;
  width: 72px;
  height: 72px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  font-family: JetBrains Mono;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.68px;
  color: #000;
}
.container main .box ul li button:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 4px, rgba(255, 255, 255, 0.08) 0px 1px 0px;
  transform: scale(0.98);
  font-size: 32px;
}
.container main .box ul li button:nth-last-of-type(1) {
  background: linear-gradient(159.64deg, #f5c61d 13.35%, #f9dc74 86.28%);
}
.container main .box ul li:nth-of-type(1) {
  justify-content: end;
  gap: 12%;
}
.container main .box ul li:nth-of-type(1) button {
  background: linear-gradient(159.64deg, #f5c61d 13.35%, #f9dc74 86.28%);
}
.container main .box ul li:nth-last-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container main .box ul li:nth-last-of-type(1) button:nth-last-of-type(2) {
  background: linear-gradient(159.64deg, #ffc800 13.35%, #e9c12f 86.28%);
  font-size: 46px;
}
.container main .box_4 {
  display: block;
  width: auto;
  height: auto;
  border-radius: 12px;
  background-color: #39383b;
  border: 2.5px solid #d97b45;
  background-color: rgba(2, 2, 2, 0.631372549);
  -webkit-backdrop-filter: sepia(90%) blur(5px);
          backdrop-filter: sepia(90%) blur(5px);
  border: 5px;
  padding: 25px 3%;
}
.container main .box_4 input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 2%;
  background-color: #a2af77;
  color: #110d0f;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: 2px solid rgba(224, 224, 224, 0.15);
  border: 2px solid rgba(102, 66, 40, 0.7450980392);
  border-radius: 16px;
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  font-weight: bold;
  line-height: 31.68px;
  text-align: end;
}
.container main .box_4 input::-moz-placeholder {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  font-weight: bold;
  line-height: 31.68px;
  text-align: end;
  color: rgba(255, 255, 255, 0.3882352941);
}
.container main .box_4 input::placeholder {
  font-family: "Dancing Script", cursive;
  font-size: 42px;
  font-weight: bold;
  line-height: 31.68px;
  text-align: end;
  color: rgba(255, 255, 255, 0.3882352941);
}
.container main .box_4 .buttonBin {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  grid-template-areas: "  btn_1 btn_1 btn_2 btn_3" " btn_4 btn_5 btn_6 btn_7 " " btn_8 btn_9 btn_10 btn_11" " btn_12 btn_13 btn_14 btn_15" " btn_16 btn_17 btn_18 btn_18";
}
.container main .box_4 .buttonBin button {
  width: 84px;
  height: 64px;
  background-color: #58595b;
  color: white;
  font-family: "EB Garamond", serif;
  border-radius: 12px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 2px solid rgba(88, 89, 91, 0.7098039216);
  border: 2px solid #2d2d2d;
}
.container main .box_4 .buttonBin button:nth-of-type(1) {
  display: flex;
  width: 100%;
  grid-area: btn_1;
}
.container main .box_4 .buttonBin button:nth-of-type(2) {
  grid-area: btn_2;
}
.container main .box_4 .buttonBin button:nth-of-type(3) {
  grid-area: btn_3;
}
.container main .box_4 .buttonBin button:nth-of-type(4) {
  grid-area: btn_4;
}
.container main .box_4 .buttonBin button:nth-of-type(5) {
  grid-area: btn_5;
}
.container main .box_4 .buttonBin button:nth-of-type(6) {
  grid-area: btn_6;
}
.container main .box_4 .buttonBin button:nth-of-type(7) {
  grid-area: btn_7;
}
.container main .box_4 .buttonBin button:nth-of-type(8) {
  grid-area: btn_8;
}
.container main .box_4 .buttonBin button:nth-of-type(8) {
  grid-area: btn_8;
}
.container main .box_4 .buttonBin button:nth-of-type(9) {
  grid-area: btn_9;
}
.container main .box_4 .buttonBin button:nth-of-type(10) {
  grid-area: btn_10;
}
.container main .box_4 .buttonBin button:nth-of-type(11) {
  grid-area: btn_11;
}
.container main .box_4 .buttonBin button:nth-of-type(12) {
  grid-area: btn_12;
}
.container main .box_4 .buttonBin button:nth-of-type(13) {
  grid-area: btn_13;
}
.container main .box_4 .buttonBin button:nth-of-type(14) {
  grid-area: btn_14;
}
.container main .box_4 .buttonBin button:nth-of-type(15) {
  grid-area: btn_15;
}
.container main .box_4 .buttonBin button:nth-of-type(16) {
  grid-area: btn_16;
  background-color: #474645;
}
.container main .box_4 .buttonBin button:nth-of-type(17) {
  grid-area: btn_17;
  background-color: #474645;
}
.container main .box_4 .buttonBin button:nth-of-type(18) {
  width: 100%;
  grid-area: btn_18;
  background-color: #f15a2a;
  border: none;
}

@media screen and (min-width: 1921px) {
  .container {
    width: 1920px;
    margin: auto;
  }
  .container nav {
    width: 1920px;
    left: 50%;
    transform: rotateY(-50%);
  }
  .container main {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 660px) {
  .container {
    width: 100%;
    min-height: 100vh;
  }
  .container main .box_4 {
    width: auto;
    height: 100%;
    padding: 10%;
    font-size: 12px;
  }
  .container main .box_4 .buttonBin button {
    width: 100%;
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */